// @import "~bootstrap/scss/bootstrap";

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  min-height: 100svh;
}

body {
  margin: 0;
}

h1 {
  word-wrap: break-word;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.ant-tag {
  font-family: 'Noto Sans JP', sans-serif;
}

ul,
ol {
  li {
    margin-bottom: 0.5em;
  }
}